VisualElement {
    font-size: 16px;
}
.Header {
    font-size: 20px;
    color: white;
}
.PackageContainer{
    flex-direction: row;
    justify-content: space-between;
}

.PackageContainerRight{
    flex-direction: row;
    justify-content: flex-end;
}